<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>南阳理工学院开源镜像站</title>
  <!-- Bootstrap -->
  <link href="css/bootstrap.css" rel="stylesheet" />
  <link href="css/private.min.css" rel="stylesheet" />
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
 </head>
 <body>
  <div class="container-fuild">
   <div class="blackboard">
    <div class="container">
   <div class="pull-right" style="margin-right: 2.2em; ">
    <a href="/help/" style="font-size: 1.3em; color: #ffffff; text-decoration:none;">Help</a>
   </div>
     <p style="color:#ffffff; font-size: 2.8em;">南阳理工学院开源镜像站</p>
     <p style="color:#ffffff; font-size: 1em;">南阳理工学院信息化建设与管理中心建设维护</p>
     <p style="color:#ffffff;font-size: 1em;">本站收录了 Centos Debian Ubuntu  等镜像供校内外用户使用</p>
    </div>
   </div>
  </div>

  <div class="container" style="margin-top:2em;">
   <div class="row">
    <div class="col-md-12 panel-size">

     <table class="table table-hover table-striped">
      <tbody>
       <tr>
        <td>镜像名称</td>
        <td>更新时间</td>
	<td>文件大小</td>
	<td>文件数目</td>
        <td>状态</td>
       </tr>
       <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>
       <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>
<tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>
<tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>
<tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>
<tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>         <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>
       <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>          <tr>
        <td><a href="cd/{{mirror.mirror_name}}/">ubuntu</a></td>
        <td>2017-05-09 02:44:32</td>
	<td>1T</td>
	<td>4000</td>
        <td> <span class="label label-success">success</span></td>
       </tr>
      </tbody>
     </table>
    </div>

   </div>
  </div>

   <footer class="bs-docs-footer">
    <div class="container">
     <ul class="bs-docs-footer-links">
      <li><a href="https://github.com/djanedu/">GitHub 仓库</a></li>
      <li><a href="mailto:mirror@nyist.edu.cn">邮箱: mirror@nyist.edu.cn</a></li>
      <li><a href="http://net.nyist.edu.cn/">信息化管理中心</a></li>
      <li><a href="http://net.nyist.edu.cn/zxjj/zxgk.htm">关于</a></li>
     </ul>
     <p>南阳理工学院开源镜像站由我校信息化建设与管理中心维护，收录了大量开源镜像供校内用户使用，用以支持我校的软件教育与教学工作。</p>
    </div>
   </footer>
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="js/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="js/bootstrap.min.js"></script>
 </body>
</html>
